// Dimensions
$containerWidth: 62.5rem;

// Colors
$primaryColor: #1E81EF;
$primaryBlack: #0f0c0c;
$secondaryBlack: #181715;
$lightGray: #79746b;
$gray: #302e2b;

$borderColor: #d8d2c3;
$colorYellow: #fcfaf8;
$colorDanger: #dc3545;

// Misc
$roundedRadius: 1rem;

// Typography
$bodyFonts: "Inter", sans-serif;
$headingFonts: "Poppins", sans-serif;
$h1Size: 2rem;
$h2Size: 1.5rem;
$h3Size: 1.25rem;

// Device sizes
$desktop: 62.5rem;
$tablet: 48rem;
$mobile: 36rem;
$extraSmall: 20rem;

$headerHeightMobile: 50px;
$headerHeight: 115px;