.td_wrap{
    /*width: 100%;*/
}
.td_section{
    border: 1px solid #2982b3;
    border-bottom: 0;
    background: #f9f9f9;
}
.td_opts label{
    font-weight:700;
    display:block;
    float: left;
    margin-right: 10px;
}
.td_input {
    padding: 10px;
    border-bottom:1px solid #2982b3;
    /*border-top: 1px solid #fff;*/
}
.td_opts small{
    color:#999;
}
.td_opts input[type="text"], .td_opts select{
    padding: 8px;
    margin: 8px auto;
    color:#333;
    line-height:1em;
    width: 100%;
}
.td_input input:focus, .td_input textarea:focus{
    /*background:#fff;*/
}
.td_input textarea{
    width: 100%;
    height: 120px;
    padding: 8px;
    color:#333;
    line-height:1.5em;
}
.td_title h3 {
    text-transform: uppercase;
    margin: auto 10px;
    float:left;
    padding: 14px 4px;
    color: #2982b3;
}
.td_title{
    border-bottom: 4px solid #2982b3;
    /*background: #2982b3;*/
    padding:0;
}
.td_title span.submit{
    display:block;
    float:right;
    margin:0;
    padding: 10px;
}
.clearfix{
    clear:both;
}
.td_table th, .td_table td{
    /*border: 1px solid #2982b3;*/
    padding:10px;
    text-align:center;
}
.td_table th, .td_table td.feature{
    border-color:#888;
}

/* AutoComplete JQuery */
/*.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #2982b3; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; color: #2982b3; font-weight: bold; }*/
.autocomplete-suggestions {
    text-align: left; cursor: default; border: 1px solid #ccc; border-top: 0; background: #fff; box-shadow: -1px 1px 3px rgba(0,0,0,.1);

    /* core styles should not be changed */
    position: absolute; display: none; z-index: 9999; max-height: 254px; overflow: hidden; overflow-y: auto; box-sizing: border-box;
}
.autocomplete-suggestion { position: relative; padding: 0 .6em; line-height: 23px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 1.02em; color: #333; }
.autocomplete-suggestion b { font-weight: normal; color: #2982b3; }
.autocomplete-suggestion.selected { background: #f0f0f0; }

/* .remove {
    display: inline-block;
    background: #999;
    color: #fff;
    width: 10px;
    height: 10px;
    padding: 0 5px 10px 5px;
    text-align: center;
    border-radius: 100%;
} */
#campaign-posts li {
    padding: 5px;
/*    list-style: square;
    margin-left: 20px;*/
}
#campaign-posts li:nth-child(2n) {
    /*background: #ddd;*/
}
.form-table tr td {
    vertical-align: top;
}
.hide { display: none; }
/* .create-campaign table.form-table tr th { padding: 5px; width: auto; }
.create-campaign table.form-table tr td { padding: 5px; }
.create-campaign input[type=text], .create-campaign input[type=number], .create-campaign textarea { width: 100%; } */

#campaign-posts-wrap input[type=number] { width: 50px; }
/* #campaign-posts-wrap input[type=text] { width: 400px; }
#campaign-posts-wrap textarea { height: 80px; } */

.newsletter-list tr td { padding: 10px 0; vertical-align: top;  }

.remove-all-posts { display: inline-block; float: right; color: #ccc; cursor: pointer; }


.attachments-container {
    display: flex;
    flex-wrap: wrap;
}
.attachments-note:not(:empty) + .attachments-container > .attachments-attachment:first-of-type {
    margin-top: 0 !important;
}
.attachments-attachment .attachment-meta {
    left: 25px;
}
.attachments-attachment .attachment-meta, .attachments-attachment:first-of-type .attachment-meta {
    margin-top: 0 !important;
}
.attachments-attachment:first-of-type .attachments-handle, .attachments-handle {
    top: 5px !important;
}