.quiz-story{width:45%;background:transparent;margin:auto}
.quiz-story .story-title{text-align:center}
.quiz-story.results{width:100%}
.quiz-story .featured-img{width:100%;height:200px;background-size:cover;background-repeat:no-repeat;margin:0 0 20px 0;background-position:center}
.quiz-story input.button{display:block;margin:auto;width:auto;text-align:center;border:1px solid #fff;padding:20px 30px;font-size:12px;box-sizing:border-box;background:transparent;font-family:'Futura W01 Bold',helvetica,sans-serif;text-transform:uppercase;font-size:14px;margin-top:10px;cursor:pointer;transition:.5s all}
.quiz-story input.button.active,.quiz-story input.button:hover{background:#fff;border:1px solid #333;color:#333}
.quiz-section .quiz{margin:0;display:inline-block;width:100%;padding-top:100%;position:relative}
.quiz-section .quiz .quiz-img{background-repeat:no-repeat;background-size:cover;position:absolute;top:0;left:0;right:0;bottom:0;background-position:center}
.quiz.active .quiz-img:before,.quiz-section .quiz:hover .quiz-img:before{opacity:0}
.quiz-section .quiz.result{width:20%;padding-top:20%;margin-bottom:-7px}
.quiz-section .quiz{margin-bottom:-7px}
.quiz-section .quiz .quiz-img.clickable,.quiz-section .quiz h2.clickable{cursor:pointer}
.quiz-section .quiz .quiz-img.clickable{opacity:.8}
.quiz.active .quiz-img.clickable{opacity:1}
.quiz-section .quiz-details{display:none;width:100%;float:left;cursor:default;padding:10px 0;box-sizing:border-box}
.quiz-section .quiz-details.result{padding:0}
.quiz-section .quiz-details .quiz-audio{text-align:center}
.quiz h2{text-transform:uppercase}
.quiz.active h2{color:#f9b317;background:rgba(0,0,0,.4)}
.quiz-section .quiz.result h2{font-size:.8rem;line-height:1.2rem;font-weight:normal}
.quiz h2{position:absolute;bottom:0;text-align:center;width:100%;padding:5px 0;margin:0;box-sizing:border-box}
.answer-img{width:40%;padding-top:40%;background-repeat:no-repeat;background-size:cover;background-position:center;float:left}
.answer-details{width:60%;float:left}
.quiz-story .intro-outro{margin:50px 0 60px 0}
.quiz-story .related-articles h1{text-align:center}
.quiz-story .related-articles .article-wrap{width:33.33%;float:left}
.quiz-story .related-articles .article-wrap .article{padding:10px}
.quiz-story .related-articles .article-wrap .article .img{width:100%;padding-top:50%;background-size:cover;background-repeat:no-repeat;background-position:center}
.quiz-story .related-articles .article-wrap .article .img img{height:100%;width:auto;max-width:none;position:absolute;top:50%;left:50%;transform:translateX(-50%) translateY(-50%)}
.quiz-story .related-articles .article-wrap .article .title{font-size:14px;font-weight:bold}
.quiz-story .related-articles .article-wrap .article .title a{text-decoration:none;color:inherit}
.quiz-story label{width:100%;border-radius:3px;text-align:center;font-size:1.2rem;font-weight:bold}
.quiz-story input.radio:empty{margin-left:-500%}
.quiz-story input.radio:empty ~ label{position:relative;float:left;line-height:2.5em;margin-top:0;cursor:pointer;user-select:none}
.quiz-story input.radio:hover ~ label,.quiz-story input.radio:checked ~ label{background:#005b98}
.quiz-story input.radio:checked ~ label:before{text-indent:.9em;color:#fff;background-color:#005b98}
.poll-story input.button{display:block;margin:auto;width:auto;text-align:center;padding:20px 30px;font-size:12px;box-sizing:border-box;background:#2982b3;color:#fff;font-family:'Futura W01 Bold',helvetica,sans-serif;text-transform:uppercase;font-size:14px;margin-top:10px;cursor:pointer;transition:.25s all}
.poll-story input.button:hover{background:#fff;border:1px solid #2982b3;color:#333}
.poll-story input.button[disabled]{background:#ccc;color:#333;cursor:auto;border:0}
.poll-story input.button[disabled]:hover{background:#ccc;color:#333;cursor:auto}
.poll-story .question_details{width:100%;padding:10px 0;float:left}
.poll-story .question_details:nth-of-type(2n){background:#f8f8f8}
.poll-story .question_details .question{width:50%;float:left}
.poll-story .question_details .question .question-text{padding:10px}
.poll-story .question_details .answers{width:50%;float:left}
.poll-story .answers input[type=text]{width:100%;padding:5px;box-sizing:border-box;margin:4px 0}
.poll-story input[type="radio"]{display:none}
.poll-story label{display:block;float:left;width:33%;cursor:pointer;margin:5px 0}
.poll-story label span{padding:5px 10px;display:block;background-color:#ddd;text-align:center;border-radius:3px;margin:0 2px}
.poll-story input[type="radio"]:checked+label span{background-color:#005b98;color:#fff}

@media screen and (max-width:768px){
    .quiz-story{width:90%}
}