.DS_Store

plugins/*
!plugins/tbm-shout-writer-beer
!plugins/tbm-adm
!plugins/brag-observer
!plugins/theme-options
!plugins/tbm-media-helper

!plugins/ssm-ga
plugins/ssm-ga/*
!plugins/ssm-ga/ssm-ga.php

!plugins/tbm-braze
!plugins/tbm-gtm
!plugins/tbm-floating-player

# ignore specific themes
themes/twenty*/

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite
