.DS_Store

languages
upgrade
wflogs

plugins/*
!plugins/tbm-shout-writer-beer
!plugins/tbm-adm
!plugins/brag-observer
!plugins/theme-options
!plugins/tbm-media-helper
!plugins/tbm-nz-content
!plugins/tbm-cache
!plugins/vinyl-media-newsletters

!plugins/tbm-ga
plugins/tbm-ga/*
!plugins/tbm-ga/tbm-ga.php
!plugins/tbm-ga/composer*

!plugins/tbm-braze
!plugins/tbm-gtm
!plugins/tbm-floating-player

!plugins/vm-*

uploads

# ignore specific themes
themes/twenty*/

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite
