@import "utilities/variables";
.btn {
    outline: none;
    padding: 0.25rem .5rem;
    border: none;
    border-radius: .25rem;
    font-family: $headingFonts;
    cursor: pointer;

    .btn-img {
        width: 18px;
    }
}
.btn-primary {
    background-color: $primaryColor !important;
    color: $primaryBlack !important;
    font-weight: 700;
}
.btn-dark {
    background-color: $primaryBlack !important;
    color: #fff !important;
}

.btn-danger {
    background-color: $colorDanger !important;
    color: #fff !important;
}

.btn-sm {
    padding: 0.25rem .5rem;
}