@import "utilities/variables";
header {
    z-index: 5;
    // width: $containerWidth;
    height: $headerHeightMobile;
    margin: auto;
    background-color: $primaryBlack;
    color: #fff;
    position: relative;
    // overflow-y: hidden;
    overflow-y: visible;

    &.fixed-top {
        position: fixed;
        top: 0;
        background-color: $primaryBlack;
        width: 100%;
    }

    .network-socials-wrap,
    .user-wrap {
        width: calc(100% / 3);
    }

    .network-socials {
        padding: 0.5rem 1rem 0.5rem 0;
        width: 150px;
        max-width: 100%;
    }

    .logo-wrap {
        text-align: center;
        a {
            display: block;
            img {
                width: 70px;
                @media (min-width: $tablet) {
                    width: 100px;
                }
            }
        }
    }

    .user-wrap {
        .user-ico {
            width: 18px;
            margin-right: 0.25rem;
        }
        .user-name .arrow-down {
            margin-left: 0.25rem;
        }
        align-items: flex-end;
    }

    .socials-top {
        margin-top: 0.25rem;
        margin-bottom: 0.5rem;

        a {
            display: block;
            width: 28px;
            height: 28px;
            margin: 0.5rem 0.5rem 0;
        }
    }
}

.btn-media-top {
    width: 150px;
    padding: 0.25rem 0 !important;
    .brag-media-top img {
        width: 130px;
    }
}

.btn-observer-top {
    padding: 0.25rem 0.75rem !important;
    border-radius: 10rem !important;
    transition: 0.25s all linear;
    font-size: 80%;
    .btn-img.hover {
        display: none;
    }
    &:hover {
        background-color: #fff !important;
        color: $primaryColor;
        .btn-img {
            display: none;
        }
        .btn-img.hover {
            display: inline;
        }
    }
}

#top-search-wrap.active {
    left: 0 !important;
    display: block !important;
}

@for $i from 1 through 12 {
    .col-#{$i} {
        flex: 0 0 $i * 8.333333%;
    }
}

.modal-open header {
    overflow-y: initial;
}

.header-mobile {
    height: $headerHeightMobile;
}
.ad-billboard-top {
    min-height: calc(50px + .5rem);
    bottom: -50px;
    transition: .5s all linear;
    &.sticky {
        position: fixed;
        bottom: 0;
        border: 0;
        padding: 0;
        margin: 0;
        text-align: center;
        z-index: 4;
        width: 100%;
        background-color: #fff;
        padding: 0.25rem 0 !important;
    }
}

@media (min-width: $tablet) {
    header {
        height: $headerHeight;
    }
    .col-md-auto {
        flex: auto;
    }
    .col-md-8 {
        flex: 0 0 66.666664%;
    }
    .story-hero.story-hero-overlay .story-title {
        width: 75% !important;
        font-size: 2.5rem !important;
    }
    .pl-md-2,
    .px-md-2 {
        padding-left: 1rem !important;
    }
    .mt-md-0,
    .my-md-0 {
        margin-top: 0rem !important;
    }
    .mr-md-0,
    .mx-md-0 {
        margin-right: 0rem !important;
    }
    .trending {
        min-height: 500px;
    }
    .ad-billboard-top {
        height: calc(250px + 2rem) !important;
        position: relative;
    }
    .socials-top a {
        margin: 0 !important;
        width: 18px !important;
        height: 18px !important;
    }
}
