@import "utilities/variables";
.trending {
    background-color: $primaryBlack;
    border-radius: 0;
    // padding: 1rem;
    color: #fff;
    font-weight: 400;
    /* .left {
        width: 65%;
    }
    .right {
        width: 35%;
    } */
    .trending-main {
        position: relative;
        .badge {
            position: absolute;
            top: 0;
            z-index: 2;
            transform: rotate(-15deg);
            background: rgba(0, 0, 0, 1);
            color: #fff;
            left: 0;
            font-weight: normal;
            font-size: 1.5rem;
            box-shadow: 0px 0px 10px #888;
        }
    }
    a {
        text-decoration: none;
    }

    .h-featured,
    .h-trending {
        height: 2rem;
    }
}

.story-hero {
    display: flex;
    position: relative;
    height: calc(100% - 40px);

    background-color: $secondaryBlack;

    &.story-hero-overlay {
        .story-title {
            font-size: 1.5rem;
            width: 100%;
            font-family: $headingFonts;
            font-weight: 300;
            line-height: 1.2;
        }
        .title-wrap {
            padding-bottom: 1rem;
            margin-bottom: 1rem;
        }
    }
    .details-wrap {
        // flex: 2 2 0;
        padding: 1rem;
        z-index: 2;

        .read-article-wrap {
            border-top: 1px solid rgba(48, 46, 43, 0.35);
        }

        .read-article {
            img {
                margin-right: 0.25rem;
                width: 20px;
            }
        }
    }
    .featured-img-overlay {
        // flex: 2 1 0;
        // margin-left: .5rem;
        // margin-left: -100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        // position: relative;
        overflow: hidden;
        opacity: 0.5;
        img {
            /* position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 100%;
            // width: 120%;
            width: auto;
            max-width: none; */
            width: 100%;
            display: none;
        }
    }
}

.subheading.h-trending {
    img {
        margin-right: 0.25rem;
        width: 24px;
        padding: 0.15rem;
        border-radius: 0.25rem;
        &.ico-star {
            border: 2px solid $primaryColor;
        }
    }
}

.trending-story-category {
    color: $primaryColor;
    font-size: 0.825rem;
    font-family: $headingFonts;
    font-weight: 500;
}

.trending-stories {
    .story {
        border-radius: $roundedRadius;
        display: block;
        background-color: $secondaryBlack;
        font-size: 0.825rem;
        font-weight: 200;
        line-height: 1.25;
        .post-thumbnail {
            min-width: 75px;
            width: 75px;
            height: 75px;
            position: relative;
            overflow: hidden;
            border-radius: 0.25rem;
            img {
                height: 100%;
                width: auto;
                max-width: none;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        h3 {
            font-size: 0.875rem;
        }
    }
    a {
        color: #fff;
    }
}
