@import "utilities/variables";
.nav-wrap {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    .search-wrap {
        min-width: 18px;
    }
}
#nav-primary {
    background-color: $primaryBlack;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        li {
            flex: auto;
            text-align: center;
            position: relative;
            a {
                padding: 0.5rem;
                display: block;
                color: #fff;
                text-decoration: none;
                font-family: $headingFonts;
                font-size: 0.825rem;
                font-weight: 500;
                &:hover {
                    color: $primaryColor;
                }
            }
            &.secondary {
                .plus,
                .plus-hover {
                    line-height: 1;
                }
                .plus-hover {
                    display: none;
                }
                &:hover {
                    .plus {
                        display: none;
                    }
                    .plus-hover {
                        display: inline-block;
                    }
                }
                a span.text-muted {
                    opacity: 0.25;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
            ul {
                display: flex;
                @media (min-width: $tablet) {
                    display: none;
                    position: absolute;
                    top: 100%;
                    right: 0;
                    // left: 0;
                    background-color: $primaryColor;
                    width: 150px;
                    border-radius: 0 0 $roundedRadius/2 $roundedRadius/2;
                }
                flex-direction: column;
                li a {
                    text-align: left;
                    @media (min-width: $tablet) {
                        &:hover {
                            color: $primaryBlack;
                        }
                    }
                }
            }
            &.menu-more {
                cursor: pointer;
                span.arrow-down {
                    display: none;
                    @media (min-width: $tablet) {
                        display: inline-block;
                    }
                }
            }
            &:hover ul {
                display: flex;
            }
        }
    }
}

.nav-v ul {
    align-items: flex-start;

    flex-direction: row;
    flex-wrap: wrap;
    li {
        list-style: none;
        width: auto;
        &.active a {
            color: $primaryColor;
            font-weight: bold;
        }
        a {
            display: block;
            padding: 0.75rem 0.5rem;
            color: $primaryBlack;
            font-weight: bold;
        }
    }
}
