@import "utilities/variables";
.network {
  @media (min-width: $tablet) {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    height: calc(100vh - 2rem);
  }
  border-radius: 0 0 $roundedRadius $roundedRadius;
  border-bottom: 0.5rem solid rgba(255, 255, 255, 0.5);
  z-index: 6;
  overflow-y: scroll;
  width: $containerWidth;
  max-width: 100%;
}
.other-brands {
  border-radius: 0 0 1rem 1rem;
  background-color: $primaryBlack;
}
.brand-box {
  // background-color: #fff;
  border-right: 1px solid $secondaryBlack;
  border-bottom: 1px solid $secondaryBlack;
  height: 90px;
}

@media (max-width: $mobile) {
  .brand-box:nth-of-type(3n + 1) {
    border-left: 1px solid $secondaryBlack;
  }
  .brand-box:nth-of-type(-n + 3) {
    border-top: 1px solid $secondaryBlack;
  }
}

@media (min-width: $tablet) {
  .brand-box:nth-of-type(6n + 1) {
    border-left: 1px solid $secondaryBlack;
  }
  .brand-box:nth-of-type(-n + 6) {
    border-top: 1px solid $secondaryBlack;
  }
}
