@import "utilities/variables";
.single-article {
    background-color: $colorYellow;
    &-1 {
        border-radius: $roundedRadius $roundedRadius 0 0;
    }
    a {
        color: $primaryBlack;
        text-decoration: underline;
    }
    .cat {
        font-size: 90%;
        font-family: $headingFonts;
        text-decoration: none;
        font-weight: 500;
        color: $lightGray;
        background: #fff;
        padding: 0.25rem;
        border-radius: 0.25rem;
    }
    .story-title {
        // font-weight: 300;
        text-align: center;
        // line-height: 1.3;
    }
    iframe {
        margin: 1rem auto;
        max-width: 100%;
    }
    .author {
        color: $gray;
        font-size: 90%;
        position: relative;
        a {
            text-decoration: none;
            font-weight: bold;
        }
        .v-divider {
            color: $secondaryBlack;
            opacity: 0.15;
        }
    }
    hr.h-divider {
        border: 0;
        height: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    }
    .post-content {
        max-width: 29rem;
        margin: auto;
        blockquote {
            color: #666;
            font-size: 1.125rem;
            font-style: italic;
            line-height: 1.875rem;
        }
    }
    .excerpt {
        font-weight: 500;
        max-width: 39.625rem;
        margin: auto;
    }
    .post-thumbnail img {
        margin: auto;
        display: block;
        width: 100%;
        height: auto;
    }
    .overlay {
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        display: none;
    }
}
.load-more {
    font-size: 1rem;
    // background: $colorYellow;
    text-align: center;
    border-radius: $roundedRadius;
    margin: 1rem auto;
    // opacity: 0.25;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        opacity: 0.25;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.25;
    }
}

.yt-lazy-load {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    img {
        width: 100%;
        margin: auto !important;
    }
    .play-button {
        width: 100px !important;
        z-index: 2;
        transition: 0.25s all linear;
    }
}

.ad-billboard-infinite {
    background-color: $colorYellow;
}

.observer-sub-form {
    // background: #f3f3f3;
    position: relative;
    z-index: 2;
    border-radius: 1rem;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    box-shadow: 0 0 18px #fff;
    @media (min-width: $desktop) {
        width: 35.625rem;
        max-width: none;
        margin: auto;
        margin-left: -3.3125rem;
    }
    form {
        border-radius: 10rem;
    }
    a {
        text-decoration: underline;
        font-weight: bold;
        color: $primaryColor !important;
    }
    .email {
        background: #fff;
        border-radius: 0.25rem;
        padding: 25px 15px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    input[type="email"] {
        width: 100%;
        font-size: 16px;
        line-height: 1;
        color: #000;
        border: none;
        border-radius: 10rem;
    }
    .img-wrap {
        flex: 0 0 40%;
        background-position: center center;
        background-size: cover;
        border-radius: 1rem 0 0 1rem;
        img {
            max-width: 100% !important;
        }
    }

    .spinner {
        width: 25px !important;
        height: 25px !important;
        margin: 10px auto !important;
    }

    .spinner .double-bounce1,
    .spinner .double-bounce2 {
        background-color: #fff;
    }
}
